*{
    box-sizing: border-box;
}
.navbar{
    text-transform: capitalize;
    padding: 1.5rem auto;
}
#banner{
    background: url(/asset/img/banner.jpg);
    height: 85vh;
    opacity: 1.7;
    align-content: center;
    padding: 5rem;
}
#banner h2{
    font-weight: 500;
    /* padding:2rem; */
}
#welcome{
    background: rgb(138, 160, 138);
    color: white;
    font-size: 1.2rem;
}